/* Geral */
html{overflow-x: hidden;}
body{font-family: 'Open Sans', sans-serif; overflow-x: hidden;}
a:hover, a:active{text-decoration: none;}
b, strong{font-weight: 700;}

.absolute{position: absolute;}
.relative{position: relative;}
.flex{display: -webkit-box; display: -ms-flexbox; display: flex;}

/*Background*/
.bg img{position: absolute;}
.bg #bg-2{top:0px;}
.bg #bg-3{top:10px;}
.bg #bg-4{top:20px;}
.bg #bg-5{top:30px;}
.bg #bg-6{top:40px;}
.bg #bg-7{top:50px;}
.bg #bg-8{top:60px;}
.bg #bg-9{top:70px;}
.bg #bg-10{top:80px;}

/*Header*/
header{position: fixed; top: 0; right: 0; left: 0; width: 100%; margin: auto; z-index: 100; background-color: transparent; padding: 24px 0;}
.social{float: right;}
.social a{margin-left: 6px;}

/*Menu*/
header .hamburguer, header nav{float: left;}
nav ul{list-style: none;}
nav li{float: left; font-family: 'Roboto Condensed', sans-serif; font-weight: 700; text-transform: uppercase; margin-left: 36px;}
header nav li img{margin-right: 8px;}
header nav li:first-child{margin-left: 0;}
header nav ul li a{color: black;}

/*Slider*/
.bx-wrapper .bx-loading{min-height: 50px; background: url('../img/bx_loader.gif') center center no-repeat #fff; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000;}

/*Footer*/
footer{background-color: #364459;}
